.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #d4d4d4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
  background-clip: content-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #303030;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-image: url('../public/Engineering_Hero.jpg'), ; */
  background-image: url('../public/Engineering_Hero.jpg'), linear-gradient(to bottom, #006db1e7, rgb(20, 16, 0));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background: linear-gradient(to bottom, #00c3ff, rgb(20, 16, 0));
  background-blend-mode: overlay;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #444444;
}

